.container{
    text-align: center;
    margin-top: 10%;
}
h1{
    background-color: rgb(245, 164, 134);
    color: darkcyan;
}
button{
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(245, 164, 134);;
    color: white;
}
button:hover{
    animation-name: hello;
    animation-duration: 10s;
}
@keyframes hello{
    0%{
        transform: rotate(200deg);
        
    }
    30%{
        transform:translate(200px);
        background-color: blueviolet;
       
    }
    50%{
        transform: rotate(180deg) translate(200px);
        background-color: rgb(91, 233, 167);
    }
    70%{
        transform:translate(200px);
        background-color: darkorchid;
    }
    100%{
        transform:translate(200px);
        background-color: brown;
    }
}

